<app-navbar ></app-navbar>
<div class="row mt-4">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">
                    <span class="text-success">
                        S’inscrire
                    </span> 
                </h1>
                <form [formGroup]="form">
                    <div class="form-group">
                        <label for="firstname">Prénom</label>
                        <input id="firstname" name="firstname" formControlName="firstname" [(ngModel)]="user.firstName" type="text" class="form-control">
                        <div class="alert alert-danger" *ngIf="form.get('firstname').touched && form.get('firstname').invalid">
                            <div *ngIf="form.get('firstname').errors.required">Ce champ est obligatoire</div>
                            <div *ngIf="form.get('firstname').errors.pattern">Seullement les lettres et les espaces qui sont autorisees</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Nom</label>
                        <input id="lastname" name="lastname" formControlName="lastname" [(ngModel)]="user.lastName" type="text" class="form-control">
                        <div class="alert alert-danger" *ngIf="form.get('lastname').touched && form.get('lastname').invalid">
                            <div *ngIf="form.get('lastname').errors.required">Ce champ est obligatoire</div>
                            <div *ngIf="form.get('lastname').errors.pattern">Seullement les lettres et les espaces qui sont autorisees</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" name="email" formControlName="username" [(ngModel)]="user.username" type="email" class="form-control" email>
                        <div class="alert alert-danger" *ngIf="form.get('username').touched && form.get('username').invalid">
                            <div *ngIf="form.get('username').errors.required">Ce champ est obligatoire</div>
                            <div *ngIf="form.get('username').errors.email">Format de l'email non valid</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input id="password" name="password" formControlName="password" [(ngModel)]="user.password" type="password" class="form-control">
                        <div class="alert alert-danger" *ngIf="form.get('password').touched && form.get('password').invalid">
                            <div *ngIf="form.get('password').errors.required">Ce champ est obligatoire</div>
                            <div *ngIf="form.get('password').errors.minlength">Au minimum 8</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success text-center" [disabled]="form.invalid" (click)="register()" >S’inscrire</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>